.git/*
.gradle/*
.settings/*
bin/*
build/*
eclipse/*
run/*
libs_src/*

.classpath
.gitignore
.project

Dark-Roleplay-Medieval_Client.launch
Dark-Roleplay-Medieval_Server.launch
Forge Latest_Client.launch
Forge Latest_Server.launch
*.launch
